<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TennisCourtReservationContext"
		     connectionString="Server=localhost;Port=5432;Database=Tennis;User Id=postgres;Password=postgres;"
		     providerName="Npgsql" />
	</connectionStrings>
</configuration>